@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
/* font-family: 'Courgette', cursive;
font-family: 'Rubik', sans-serif; */

*{
  font-family: 'Rubik', sans-serif;
}

body{
  background-color: #001524;
  color: rgb(192, 192, 192);
  /* height: 320vh; */
}

nav{
  color:#272626;
  height: 70px;
  transition: .3s;
}

nav.backg-blue{
  background-color: #001727;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}

nav .navbar-brand{
  font-weight: 800;
  font-size: 30px;
  color: #f8f8f8 !important;
}

nav ul{
  list-style: none;
}

nav ul li a{
  color: #e9f0ff !important;
  text-decoration: none;
  font-size: 1em;
}
nav ul li a:hover{
  color: #cedeff !important;
  font-size: 1em;
}

.menu-toggle i{
  color: #cedeff;
  font-size: 30px !important;
}

.menu-toggle{
  z-index: 9999;
  transition: .5s;
}

a.nav-link.active{
  font-weight: 900;
  font-size: 19px;
}

h3.title{
  font-weight: 700;
  font-size: 34px;
  line-height: 32px;
}

.sub-title-about{
  font-size: 25px;
}

.about{
  height: 65vh;
}

.backg-card{
  background-color: #00253f;
}

.icons i{
  font-size: 50px;
  padding: 10px 20px;
  transition: .5s;
}

.icons i.fa-laravel:hover{color: rgb(160, 95, 95); font-weight: 900;}
.icons i.fa-php:hover{color: rgb(86, 122, 133); font-weight: 900;}
.icons i.fa-html5:hover{color: rgb(33, 116, 57); font-weight: 900;}
.icons i.fa-css3:hover{color: rgb(33, 66, 116); font-weight: 900;}
.icons i.fa-bootstrap:hover{color: rgb(65, 33, 116); font-weight: 900;}
.icons i.fa-js:hover{color: rgb(115, 116, 33); font-weight: 900;}

.btn-me{
  height: 50px;
  width: 120px;
  box-shadow: 0px 8px 9px rgba(42, 51, 80, 0.5);
  background-color: rgb(32, 47, 97);
  color: #f8f8f8;
  transition: .5s;
  margin-left: 1px;
}

.btn-me:hover{
  margin-left: 0;
  width: 122px;
  background-color: rgb(27, 39, 82);
  color: #e0e0e0;
  transform: translateY(10px);
  box-shadow: 0px 1px 2px rgba(20, 30, 61, 0.8);
}

.skills i.fa-laptop-code{
  color: #cedeff;
}

.faskil{
  background-color: #7678ed;
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.card-skil{
  transition: .5s ease-in-out;
}

.card-skil:hover{
  transform: translateY(-10px);
}

.card-contact{
  height: 170px;
  background-color: #1d3557;
  border-radius: 50px 0 50px 0;
  transition: .8s ease;
  margin-top: 80px;
}

.card-contact:hover{
  background-color: #172a46;
  transform: translate(35px, 30px);
  box-shadow: -18px -18px 4px rgba(10, 47, 77, 0.5);
  color: #abb8d3;
}

footer{
  height: 100px;
  background-color: #14213d;
  margin-top: 400px;
}

@media screen and (max-width: 960px){
  nav ul.slide{
    background-color: #112a3f !important;
    position: absolute !important;
    transition: all 1s;
    top: 0;
    right: 0;
    z-index: 1;
    width: 80%;
    height: 100vh;
    padding-top: 80px;
  }
}

/* Ukuran mobile */
@media screen and (max-width: 576px){
  .card-contact:hover{
    background-color: #172a46;
    transform: translate(5px, 5px);
    box-shadow: -12px -12px 4px rgba(10, 47, 77, 0.5);
    color: #abb8d3;
  }

  nav ul.slide{
    background-color: #112a3f !important;
    position: absolute !important;
    transition: all 1s;
    top: 0;
    right: 0;
    z-index: 1;
    width: 80%;
    height: 100vh;
    padding-top: 80px;
  }
}
/* 
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
padding-top: 20%;
padding-left: 20px;
transform: translateY(-200%);
 */