@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgba(205, 206, 210, .2);
  overflow-x: hidden;
  color: rgb(70, 70, 70);
}

.text-primary {
  color: #0B5BD2;
}

.bg-primary {
  background-color: #0B5BD2;
}

nav {
  height: 90px;
  z-index: 9;
}

nav.bg-white {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.nav-menu.display-mob {
  height: 100vh;
  position: fixed;
  top: 0;
  left: -990px;
  background-color: white;
  width: 100vw;
  transition: .5s ease-in-out;
  padding-left: 30px;
}

.nav-menu.display-mob.active {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100vw;
}

.nav-menu.display-mob ul {
  margin-top: 50px;
}

.nav-menu.display-mob ul li {
  padding-top: 50px;
}

.btn-menu-nav {
  right: 15%;
  transition: 1.2s ease;
}

.btn-menu-nav.active {
  transform: rotate(360deg);
}

#header .container .grid {
  height: 86vh;
}

.btn-contact {
  background-color: #0B5BD2;
  color: #f3f3f3;
  padding: 15px 25px 15px 25px;
  font-size: 23px;
  font-weight: 500;
  transition: .5s ease;
}

.btn-contact:hover {
  background-color: #0747a7;
  color: #e2dddd;
}

#about .card {
  width: 352px;
}

#skills {
  margin-top: 120px;
}

#skills .card {
  width: 160px;
  height: 160px;
}

#project {
  margin-top: 120px;
}

#project .card {
  width: 352px;
}

#contact {
  margin-top: 110px;
}

#contact .card {
  width: 352px !important;
  max-height: 318px;
}

footer {
  height: 120px;
  margin-top: 200px;
}

.modal-project {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgb(246, 247, 246);
  top: 0;
  left: -9990px;
  z-index: 99;
  overflow-y: scroll;
  transition: 1s ease-in-out;
}

.modal-project.active {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgb(246, 247, 246);
  top: 0;
  left: 0;
  z-index: 99;
}

.modal-project .content {
  max-width: 860px;
  border: .5px solid rgba(0, 0, 0, 0.2);
  padding: 25px;
  border-radius: 8px;
  overflow-y: scroll;
  max-height: 85vh;
}

.close-project {
  transition: .8s ease;
}

.close-project:hover {
  transform: rotate(360deg);
  color: #0B5BD2;
}

/* scrollbar */

body::-webkit-scrollbar {
  width: 8px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #0B5BD2;
}

body::-webkit-scrollbar-thumb:hover {
  background: #0747a7;
}


.modal-project .content::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.modal-project .content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.modal-project .content::-webkit-scrollbar-thumb {
  background: #c0bebe;
}

.modal-project .content::-webkit-scrollbar-thumb:hover {
  background: #8f8e8e;
}




@media (max-width: 768px) {
  #header .container .grid {
    height: 110vh;
  }
}