* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}



.nav .top-nav {
  position: absolute;
  width: calc(100% - 20px);
  height: 60px;
  display: flex;
}

.nav .top-nav .ham {
  width: 70px;
  height: 100%;
  background-color: #5C33CE;
  padding: 15px 17px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.nav .top-nav .ham div {
  width: 35px;
  height: 4px;
  background-color: cornsilk;
  margin: 5px 0;
  border-radius: 5px;
}

.nav .top-nav .top-menu {
  width: calc(100% - 70px);
  height: 100%;
  background-color: #fff;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
}

/* color: rgb(56, 56, 221); */
.nav .top-nav .top-menu .logo {
  color: #5C33CE;
  font-weight: 700;
}

.nav .top-nav .top-menu ul {
  display: flex;
}

.nav .top-nav .top-menu ul li a {
  display: block;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #5C33CE;
  text-align: center;
  border-radius: 25px;
  color: #5C33CE;
}

.nav .top-nav .top-menu ul li a:hover {
  background-color: #5C33CE;
  color: #fff;
}

.nav .sidebar {
  position: absolute;
  top: 60px;
  background-color: #5C33CE;
  width: 200px;
  height: 100%;
  border-bottom-left-radius: 20px;
  transition: all 0.3s ease;
}

.nav .sidebar ul li a {
  display: block;
  padding: 20px;
  color: #eaeaea;
  position: relative;
  margin-bottom: 1px;
}

.nav .sidebar ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: #5C33CE;
  display: none;
  white-space: nowrap;
}

.nav .sidebar ul li a span.icon {
  margin-right: 10px;
  display: inline-block;
}

.nav .sidebar ul li a span.title {
  margin-right: 10px;
  display: inline-block;
}

.nav .sidebar ul li a:hover,
.nav .sidebar ul li a.active {
  background-color: #47289e;
  color: white;
}

.nav .sidebar ul li a:hover:before,
.nav .sidebar ul li a.active:before {
  display: block;
}

.nav .main-content {
  width: calc(100% - 200px);
  margin-top: 70px;
  margin-left: 210px;
  transition: all 0.3s ease;
  position: relative;
}

.nav.kecil .sidebar {
  width: 70px;
}

.nav.kecil .sidebar ul li a {
  text-align: center;
}

.nav.kecil .sidebar ul li a span.icon {
  margin: 0;
}

.nav.kecil .sidebar ul li a span.title {
  display: none;
}

.nav.kecil .main-content {
  width: calc(100% - 70px);
  margin-left: 70px;
}